Repository AstroHuntsman/huntsman-pocs, pull requests merged in 2020-02, with the labels that each got.

#158 Clean up of Pyro code
  conf_files/device_info.yaml
  huntsman/camera/pyro.py
  huntsman/focuser/pyro.py
  huntsman/tests/conftest.py
  huntsman/tests/test_camera.py
  huntsman/tests/test_huntsman.py
  huntsman/utils/dither.py
  states/huntsman/sleeping.py
Labels: camera, enhancement, focuser, help wanted, pyro

#163 Add Pyro serialisers for POCS exceptions
  huntsman/camera/__init__.py
  huntsman/camera/pyro.py
  huntsman/tests/conftest.py
  huntsman/tests/test_aardvark.py
  huntsman/utils/pyro/__init__.py
  scripts/pyro_test_server.py
Labels: enhancement, pyro

#164 Exclude tests & hardware dependent code from test coverage
  .codecov.yml
Labels: Quick PR, enhancement

#165 Re-enable test_run
  huntsman/tests/test_huntsman.py
  states/huntsman/calibrating.py
Labels: Quick PR, bug, high priority, state machine

#169 Restructure huntsman.utils.pyro to fix circular import issues
  huntsman/camera/pyro.py
  huntsman/tests/conftest.py
  huntsman/utils/pyro/__init__.py
  huntsman/utils/pyro/camera_server.py
  huntsman/utils/pyro/name_server.py
  huntsman/utils/pyro/serializers.py
  huntsman/utils/pyro/test_server.py
  scripts/pyro_camera_server.py
  scripts/pyro_name_server.py
  scripts/pyro_test_server.py
Labels: Quick PR, bug, pyro

#172 pep8 cleanup
  bin/huntsman_shell
  huntsman/camera/__init__.py
  huntsman/camera/pyro.py
  huntsman/focuser/pyro.py
  huntsman/observatory.py
  huntsman/tests/conftest.py
  huntsman/tests/test_camera.py
  huntsman/tests/test_dither.py
  huntsman/tests/test_huntsman_observatory.py
  huntsman/utils/__init__.py
  huntsman/utils/config.py
  huntsman/utils/sshfs.py
  scripts/generating_yaml.py
  scripts/pyro_camera_server.py
  scripts/pyro_test_server.py
  scripts/start_config_server.py
  scripts/startup_device.py
  states/huntsman/calibrating.py
  states/huntsman/dithering.py
  states/huntsman/focusing.py
  states/huntsman/observing.py
  states/huntsman/pointing.py
  states/huntsman/scheduling.py
Labels: Quick PR
